* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: sans-serif;
font-weight: 400;
background-color:antiquewhite ;

}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    gap: 100px;
    background-color: rgb(253, 206, 147);
    margin-bottom: 20px;
    
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    color: black;

}
 li {
    transition: all .3s ease;
}

li:hover {
    transform: scale(1.1);
    text-decoration: underline; 
}
a {
    color: black;
    text-decoration: none;
}
h1 {
    font-family: serif;
}

h2 {
    margin-top: 20px;
    font-family:Tahoma;
    font-size: 30px;
}

.img1 {
    margin-top: 50px;
    padding: 25px;
    
}
p {
    font-family: serif;
    font-size: 20px;
}