@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: serif;
    font-weight: 400;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(253, 206, 147);
    height: 50px;
    margin: 0;
    padding: 16px  ;
}
.logo img{
    height: 50px;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 85px);
}

.container {
    display: flex;
    padding: 20px;
    gap: 60px;
}

.container > img {
    width: 600px;
    border-radius: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    flex-flow: row wrap;
    gap: 20px;
}

.a_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 200px;
    height: 30px;
    background-color: rgb(253, 206, 147);
    transition: transform .4s ease;
}

.a_btn:hover {
    transform: scale(1.1);
}


