* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: sans-serif;
font-weight: 400;
background-color:antiquewhite ;

}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    gap: 100px;
    background-color: rgb(253, 206, 147);
    margin-bottom: 40px;
    
    
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    color: black;

}
 li {
    transition: all .3s ease;
}

li:hover {
    transform: scale(1.1);
    text-decoration: underline; 
}
a {
    color: black;
    text-decoration: none;
}
h1 {
    font-family: serif;
}

.subtitulo {
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: Cambria;
    margin-bottom: 3%;

}


h2 {
    margin-top: 20px;
    font-family:serif;
    font-size: 65px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    color: rgb(110, 72, 44);
    margin-bottom: 5%;
}

.explicacao {
    font-size: 20px;



}
.img1 {
    display: flex;
    justify-content: center;
    
}
.img1 img {
    width: 25%;
    height: auto;
    border-radius: 10%;
    padding: 20px;
    

}

.caso2 p {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: Cambria;
    margin-bottom: 3%;

}

.explicado {
    font-size: 20px;

}

.imagem1 {
    display: flex;
    justify-content: start;
}
.imagem1 img {
    width: 30%;
    height: auto;
    border-radius: 10%;
    padding: 20px;
}
.imagem1 p {
    margin-top: 3%;
    font-size: 20px;
}
.caso3 p {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: Cambria;
    margin-bottom: 3%;

}
.explic {
    font-size: 20px;
}
.img5 {
    display: flex;
    justify-content: start;
}
.img5 img {
    width: 20%;
    height: auto;
    border-radius: 10%;
    padding: 20px;
}
.img5 p {
     margin-top: 3%;
    font-size: 20px;
    height: 20px;
}
.final p {
     margin-top: 5%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family:cursive;
    margin-bottom: 3%;

}
.imgfim {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}

.imgfim img {
    border-radius: 10%;
    height: auto;
    width: 190px;
}

