* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: serif;
    font-weight: 400;
}

header {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    gap: 100px;
    background-color: rgb(253, 206, 147);

}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    transition: all .3s ease;
}

li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.texto h1 {
    font-size: 100px;
    filter: drop-shadow(5px 5px 10px rgb(145, 135, 135));
}

.texto p {
    margin-top: 50px;
    font-size: 25px;
    font-family: Arial;

}

.pag {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slides img {
    margin-top: 20%;
    width: 40rem;
    height: 40rem;
    object-fit: cover;
    display: none;
    border-radius: 10px;
}

.slides img.active {
    display: block;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
}

button:hover {
    background: #ddd;
}

.conte_prin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

button i {
    color: rgb(216, 164, 99);
    font-size: 2em;
}

.santos h1 {
    margin-top: 50px;
    font-size: 100px;
    filter: drop-shadow(5px 5px 10px rgb(145, 135, 135));
}

.frases p {
    font-size: 25px;
    font-family: Arial;
}

.frases {
    padding: 20px;
    justify-content: center;
}