* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: serif;
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    gap: 100px;
    background-color: rgb(253, 206, 147);
    
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    transition: all .3s ease;
}

li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}
.contexto p {
    margin-top: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px
}
.santos {
    display: flex;
}

.santos img{
    padding: 100px;
    margin-top: 5px;
    width: 30%;
    height: auto;
    border-radius: 100%;
    filter: drop-shadow(5px 5px 10px rgb(56, 54, 54));
}
.santos p {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 35px;
}