@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Montserrat:wght@300;400&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #f0deb2;
    color: #3b3b3b;
}

header {
    display: flex;
    font-size: 1.5rem;
    font-family: serif;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 100px;
    gap: 100px;
    background-color: rgb(253, 206, 147);
    width: 100%;
}

header img {
    width: 70px;
}


ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: black;
}



.title h1{
    font-size: 4rem;
    font-family: serif;
}
.texto {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
 }
 .texto h1{
    font-size: 9.5rem;
    filter: drop-shadow(5px 5px 10px rgb(128, 119, 119));
 }
.texto p {
    font-size: 2rem;
}

.content {
    position: relative;
    z-index: 10;
    max-width: 700px;
    padding: 20px;
}

.texto h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5.9rem;
    margin-bottom: 10px;
    color: #2e2c2c;
}

.subtitle {
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #5a5a5a;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 30rem;
    height: 10rem;
}

.btn {
    align-items: center;
    font-family: serif;
    text-align: center;
    padding: 18px;
    background: #f8cd6fcc;
    border: 1px solid #d6d0c4;
    border-radius: 12px;
    text-decoration: none;
    color: #3c3b3b;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    backdrop-filter: blur(3px);
}

.btn:hover {
    background: #daba83;
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}




