* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: serif;
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    gap: 100px;
    background-color: rgb(253, 206, 147);
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    transition: all .3s ease;
}

li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.text {
    line-height: 1.4;
}

.content {
    display: flex;
    justify-content: initial;
    align-items: initial;
    display: flex;
    padding: 50px;
    gap: 40px;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    white-space: nowrap;
    
    
}

.content img {
    border: solid rgba(163, 107, 4, 0.973);
    margin-top: 2%;
    width: 60%;
    height: auto;
    filter: drop-shadow(5px 5px 10px black);
    border-radius: 5%;
    flex-shrink: 0;
    margin-right: 10px;
}

.fotos {
    position: relative;
    width: 80%;
    margin: auto;
}


.eucaristia h1 {
    margin-top: 60px;
    font-family: serif;
    font-size: 75px;
    text-align: center;
    filter: drop-shadow(5px 5px 10px rgb(145, 135, 135));


}
.eucaristia p {
    margin-top: 50px;
    font-size: 25px;
    font-family: Arial;

}
.historia h1 {
    margin-top: 60px;
    font-family: serif;
    font-size: 70px;
    text-align: center;
    filter: drop-shadow(5px 5px 10px rgb(145, 135, 135));

    

}
.historia p {
    margin-top: 40px;
    font-size: 25px;
    font-family: Arial;
}
.historia img {
    display: block;
    margin: 40px auto;
    width: 40%;
    height: auto;
    border: solid rgba(163, 107, 4, 0.973);
    filter: drop-shadow(5px 5px 10px black);
    border-radius: 5%;

}
.missa h1 {
    margin-top: 60px;
    font-family: serif;
    font-size: 70px;
    text-align: center;
    filter: drop-shadow(5px 5px 10px rgb(145, 135, 135));
}
.missa p {
    margin-top: 40px;
    font-size: 25px;
    font-family: Arial;
}
.missa img{
    display: block;
    margin: 40px auto;
    width: 30%;
    height: auto;
    border: solid rgba(163, 107, 4, 0.973);
    filter: drop-shadow(5px 5px 10px black);
    border-radius: 5%;

}

