* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: serif;
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    gap: 100px;
    background-color: rgb(253, 206, 147);
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    transition: all .3s ease;
}

li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.texto {
    justify-content:center;
    display: flex;
}
.texto h1 {
    color: rgb(110, 72, 44);
    font-size: 85px;
    filter: drop-shadow(5px 5px 10px rgb(128, 119, 119));
 
}
    

.img1 {
    margin-top: 60px;
    display: flex;
    justify-content: start;
    font-size: 100px;
    padding: 3rem;
}

.img1 img {
    width: 40%;
    height: auto;
    border-radius: 8%;
    background-color: rgba(49, 47, 47, 0.6); 
    filter: drop-shadow(5px 5px 10px black);

}
.img1 p {
    font-size: 20px;
    font-family: cursive;
    justify-content: center;
    display: flex;
    align-items: center;
    

   
}
