* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: serif;
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    gap: 100px;
    background-color: rgb(253, 206, 147);
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    transition: all .3s ease;
}

li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.img1 {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.img1 img {
    width: 60%;
    height: auto;
    border-radius: 8%;
    background-color: rgba(49, 47, 47, 0.6); 
}

.texto {
    position: absolute;
      top: 50%;         
      left: 50%;        
      transform: translate(-50%, -50%);
      font-size: 24px;
      font-weight: bold;
      color: rgb(255, 255, 255); 
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 40px;
      justify-content: center;
}