* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: serif;
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    gap: 100px;
    background-color: rgb(253, 206, 147);
    
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    transition: all .3s ease;
}

li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.texto {
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 150px;
    display: flex;flex-direction: column;
    text-align: center;
    
}
.texto h2 {
    text-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 85px;
    filter: drop-shadow(5px 5px 10px rgb(128, 119, 119));
 
}
.texto p {
    margin-top: 25px;
    font-size: 20px;
    font-family: Arial;
    margin-bottom: 10px;
    
   
}
  

.img1 {
    width: 45%;
    padding: 5px;
    
}
.text h1 {
    filter: drop-shadow(5px 5px 10px rgb(146, 135, 135));
    font-size: 40px;
    padding: 20px;
    margin-bottom: 2%;

}

.img1 img {
    margin-top: 1%;
    width: 100%;
    height: auto;
    border-radius: 8%;
    background-color: rgba(49, 47, 47, 0.6); 
    filter: drop-shadow(5px 5px 10px black);
      

}

.text {
    width: 40%
}

.text p {
    font-size: 25px;
    font-family: Arial;
}

.conteudo {
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: center;
}

.cont {
    margin-top: 3%;
}
.cont h1 {
    filter: drop-shadow(5px 5px 10px rgb(146, 135, 135));
    font-size: 40px;
    margin-bottom: 2%;
}

.cont p {
    font-size: 25px;
   font-family: Arial; 

}









